body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-wrap: break-word;
}

h1 {
  margin:20px auto;
  font-size: 5vh;
}

h2 {
  margin: 20px auto;
  font-size: 4vh;
  text-align: center;
}

#driverNames {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 5vh;
  gap: 10px;
  margin-left: 3vw;
  font-size: 4vh; 
}

#driverNames p {
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

#fullScreenButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fullScreenButton:hover {
  background-color: #444;
}

#sessionInfo {
  display: none;
}

#noRaces {
  display: block;
  text-align: center;
  font-size: 50px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#proceedMessage {
  animation: blink 1s infinite;
  color: red;
  text-align: center;
  font-size: 5vh;
}
