body {
    background-color: #b7b6b6;
    font-family: Arial, sans-serif;
}

#headers {
    display:flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    max-height: 10vh;
}

h1 {
    margin-left: 2rem;
}

#sessionMessage {
    margin-right: 2rem;
    font-size: larger;
    font-weight: bold;
    padding: 0.25rem;
    border: #008CBA 2px solid;
}

#buttongrid {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    justify-items: center; 
    align-items: center;
    height: 80vh;
}

.carButton {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-size: 13vh;
    border: thin solid black;
    width: 100%;
    height: 100%;
}

.carButton:active {
    background-color: #008CBA;
}



@media (max-width: 759px){
    #buttongrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 760px) {
    #buttongrid {
        grid-template-columns: repeat(4, 1fr);
    }
}





