body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

td input[type='text'] {
  width: 70px;
  font-size: 12px;
}

.buttons {
  text-align: right;
  margin-bottom: 10px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 768px) {
  th,
  td {
    padding: 3px;
    font-size: 10px;
  }
}
