body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-wrap: break-word;
  background-color: #b7b6b6;
}

h2 {
  font-size: 1em;
  margin: 5px;
}

#sessionInfoGrid {
  display: grid;
  width: 98%;
  margin: auto;
  font-size: small;
}

.gridItem {
  display: flex;
}

#sessionInfoGrid,
.carNum,
.driverName {
  border: 1px solid black;
}

.carNum,
.driverName {
  box-sizing: border-box;
  padding: 3px;
  text-align: center;
  height: 25px;
}

.carNum {
  background-color: #b7b6b6;
  font-weight: bold;
}

.driverName {
  flex-grow: 1;
}

p {
  display: block;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

#end {
  display: none;
}

#mainControllerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

#currentModeBox {
  padding-top: 5px;
}

#currentMode {
  background-color: red;
  padding: 2px 5px;
}

#sessionInfo {
  display: none;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.buttons {
  font-size: 20px;
  margin-bottom: 7px;
  margin-right: 7px;
  text-align: end;
}

.modeButtons {
  display: none;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.modeButtons button {
  font-size: 1em;
  height: 80%;
  width: 15%;
  margin: 5px;
}

.timer {
  font-size: 1em;
  text-align: center;
}

#headerBox {
  display: flex;
  background-color: white;
  margin: 5px;
}

@media (max-width: 639px) {
  #headerBox {
    flex-direction: column;
    align-items: baseline;
    padding: 5px;
  }

  .timer {
    font-size: 1.5em;
    padding-left: 5px;
  }

  #currentModeBox {
    margin-left: 5px;
    padding-bottom: 5px;
  }

  .buttons {
    align-self: flex-end;
    margin-right: 10px;
  }

  #mainControllerContainer {
    width: 100%;
  }

  .modeButtons button {
    font-size: 0.8em;
    height: 80%;
    width: 23%;
    margin: 1px;
  }

  #sessionInfoGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 640px) {
  #headerBox {
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }

  #currentModeBox {
    margin-right: 20px;
  }

  #flexButtons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #sessionInfoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
